html, body {
    margin: 0%;
    padding: 0%;
    margin-top: -15px;
    }

main {
    text-align: center;
    }
    
h1 {
    font-family: arial ;
    text-align: center;    
    color:blue;
    background-color: chartreuse;
    padding: 1%;
    }

h2 {
    font-family: arial ;
    text-align: center;    
    color: red;
    background-color: yellow;
    padding: 1%;
    }

h3
    {
    background-color: red;
    font-family: arial;
    text-align: center;    
    }  

.container
    {
    display: flex;
    justify-content: space-around;
    }

.section
    {
    background-color: aqua;
    padding: 15px;   
    margin-bottom: 5px;
    }

form {
    text-align: center;
    margin-top: 0;
    }

.submit {
    background-color: black;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
    }
    
textarea {
    height: 100px;
    }
    
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px ;
    background-color: white;
    color: #787575;
    border-radius: 5px;
    width: 25%;
    outline: none;
    text-align: center;
    }

nav {
    text-align: right;    
    background: white;
    border: none;
    } 

a {
    font-size: 200%;
}

footer
    {
    text-align: center;    
    }