header {
    font-size: 30px;
    position:fixed; /* NE PAS OUBLIER LES COORDONNEES top ET left */
    top:0;
    left:0;
    background-color: white; /* TRANSPARENCE POUR VOIR LE FOND */
    width:100%;
    opacity:1;
    padding:25px;
    height:40px;
    transition: all 0.5s linear;
}

header :hover {
    color: black;
}


main {
    margin-top: 100px;
    background-color: white;
}


.container img {
    width: 50%;
    float: right;
}


h1 {
    font-size: 50px;
    text-align: center;    
    color: blue;
}

h2 {
    text-align: center;
    font-size: 40px;
    color:rgb(214, 24, 40);
}

.container {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.container > div {
    width:calc(100% /2 );
}

.doublecase {
    font-size: 30px;
    display: flex;
    justify-content: right;
}

.rectangle1 {
    margin-left: 200px;
    text-align: center;
    color: white;
	width:200px;
	height:100px;
    background:#069;
    box-shadow: 8px 8px 12px #aaa;
    margin-top: 20px;
    ; 
}

.rectangle1:hover {
    transition-property: background-color; 
    transition-duration: 1s;
    background-color: green;
    
}

.rectangle2 {
    text-align: center;
    color: black;
	width:800px;
	height:100px;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa;
    margin-top: 20px;
}

nav {
    margin: auto;
}

nav a {
    background-color: white;
    font-size: 25px;
    transition: all 0.2s linear;
    text-decoration: none; 
    border: 1px solid rebeccapurple;
    padding: 5px; /* ESPACE VIDE ENTRE LE TEXTE ET LA BORDURE */
    border-radius:16px;
}
    
nav a:hover {
    color: white;
    /* font-size:16px; */
    background-color:black;
    /* transform:rotate(-400deg); */
    /*display:inline-block;*/
    box-shadow: none;
}


section {
    padding-top: 60px;
}

.formulaire
    {
    background-color:grey;
    padding: 15px;   
    margin-bottom: 5px;
    }

form {
    text-align: center;
    margin-top: 0;
}
    
.submit {
    background-color: black;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}

.submit:hover {
    color: white;
    /* font-size:16px; */
    background-color:red;
    /* transform:rotate(-400deg); */
    /*display:inline-block;*/
    box-shadow: none;
}

        
textarea {
    height: 100px;
}
        
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px ;
    background-color: white;
    color: #787575;
    border-radius: 5px;
    width: 25%;
    outline: none;
    text-align: center;
}

footer {
    text-align: center;    
}