img {
    max-width: 100%;
}

.container
{
    display: flex;
}

.container img
{
    width:calc(100%/3);
    display: inline;
    object-fit: cover;
}

form 
{
    display: flex;
    flex-direction: column;
}


h1
{
    color: blue;
}